.contenedor{
background:url(../imagenes/280119.jpg);
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-size: cover;
background-position: center;
}

.contenedordos{

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-decoration-color: red;
    

}